.TodoListItem {
  font-size: 1.25rem;
  color: white;
}

.TodoListItem button {
  width: 30px;
  margin: 0 5px;
}

.TodoItemLabel {
  margin: 3px 0 5px .5rem;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
}

.TodoListItem.done .TodoItemLabel {
  text-decoration: line-through;
}

.TodoListItem.important .TodoItemLabel {
  font-weight: bold;
  color: hsl(10, 70%, 60%);
}

.btn-outline-success {
  background: hsl(10, 70%, 60%);
  color: hsl(0, 0%, 30%);
  border-color: hsl(10, 70%, 60%);
}
.btn-outline-success:hover {
  background: tomato;
  border-color: hsl(10, 70%, 60%);
}

.btn-outline-danger {
  background: #c43a3a;
  color: hsl(0, 0%, 30%);
}

.TodoListButtons {
  display: flex;
  justify-content: flex-end;
}