.search-input {
  margin-right: 10px;
  border-radius: 10px;
  background: hsl(0, 0%, 22%);
  color: white;
  border: none;
  transition: 0.2s;
}

.form-control:focus {
  background: hsl(0, 0%, 22%);
  color: white;
  border: 2px solid hsl(10, 70%, 60%);
}