.TodoList .list-group-item {
  padding: .25rem .75rem 1rem .75rem;
  background: hsl(0, 0%, 22%);
  border: 1px solid #1e1e1e;
  box-shadow: 0 .25rem 1rem -.3rem #000000;
}

.TodoList {
  border-radius: 10px;
}