.AppHeader {
  display: flex;
  justify-content: space-between;
  color: white;
  background: hsl(0, 0%, 22%);
  padding: 1em;
  border-radius: 10px;
}
.AppHeader h1 {
  font-size: x-large;
  line-height: 30px;
}

.AppHeader h2 {
  display: flex;
  position: relative;
  bottom: 0;
  color: hsl(10, 70%, 60%);
  font-weight: 400;
  font-size: large;
  line-height: 35px;
}